@page "/servicios"

<h2 class="my-5 fw-bold text-primary">Nuestros Servicios</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Tarjeta 1 -->
        <div class="col">
            <div class="card servicio-card h-100 shadow-sm">
                <img src="https://media.istockphoto.com/id/1503858430/es/vector/concepto-de-desarrollo-de-software-de-sitios-web-sitio-de-dise%C3%B1o-web-y-aplicaci%C3%B3n-m%C3%B3vil-en.jpg?s=612x612&w=0&k=20&c=mZoL9erxzcblOQHoprcasZSo1hKHTQq1-lnu2n_9Pto=" class="card-img-top servicio-img" alt="Servicio 1">
                <div class="card-body">
                    <h5 class="card-title servicio-title">Desarrollo Web</h5>
                    <p class="card-text">Creamos sitios web responsivos y funcionales adaptados a tus necesidades.</p>
                    <a href="/contacto" class="btn servicio-btn mt-3">Más información</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col">
            <div class="card servicio-card h-100 shadow-sm">
                <img src="https://nrgsistemas.com.ar/images/2019/05/22/suporte-it-smart-telco-paginas-web-octopus-digital.png" class="card-img-top servicio-img" alt="Servicio 2">
                <div class="card-body">
                    <h5 class="card-title servicio-title">Soporte Técnico</h5>
                    <p class="card-text">Soluciones rápidas y efectivas para problemas técnicos de hardware y software.</p>
                    <a href="/contacto" class="btn servicio-btn mt-3">Más información</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta 3 -->
        <div class="col">
            <div class="card servicio-card h-100 shadow-sm">
                <img src="https://www.shutterstock.com/image-vector/tax-consultant-isolated-cartoon-vector-600nw-2502878515.jpg" class="card-img-top servicio-img" alt="Servicio 3">
                <div class="card-body">
                    <h5 class="card-title servicio-title">Consultoría IT</h5>
                    <p class="card-text">Asesoría especializada para optimizar los recursos tecnológicos de tu empresa.</p>
                    <a href="/contacto" class="btn servicio-btn mt-3">Más información</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta 1 -->
        <div class="col">
            <div class="card servicio-card h-100 shadow-sm">
                <img src="https://www.shutterstock.com/image-vector/bank-cashier-teller-cash-department-600nw-2524910167.jpg" class="card-img-top servicio-img" alt="Servicio 1">
                <div class="card-body">
                    <h5 class="card-title servicio-title">Corresponsal Bancario</h5>
                    <p class="card-text">Creamos sitios web responsivos y funcionales adaptados a tus necesidades.</p>
                    <a href="/contacto" class="btn servicio-btn mt-3">Más información</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col">
            <div class="card servicio-card h-100 shadow-sm">
                <img src="https://cdni.iconscout.com/illustration/premium/thumb/factura-factura-por-pago-de-servicios-publicos-illustration-svg-download-png-8070033.png" class="card-img-top servicio-img" alt="Servicio 2">
                <div class="card-body">
                    <h5 class="card-title servicio-title">Pago De Servicios Publicos</h5>
                    <p class="card-text">Soluciones rápidas y efectivas para problemas técnicos de hardware y software.</p>
                    <a href="/contacto" class="btn servicio-btn mt-3">Más información</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta 3 -->
        <div class="col">
            <div class="card servicio-card h-100 shadow-sm">
                <img src="https://www.shutterstock.com/image-vector/pay-invoicereceive-quotepayment-receipt-money-600nw-2467166063.jpg" class="card-img-top servicio-img" alt="Servicio 3">
                <div class="card-body">
                    <h5 class="card-title servicio-title">Pago De Facturas</h5>
                    <p class="card-text">Asesoría especializada para optimizar los recursos tecnológicos de tu empresa.</p>
                    <a href="/contacto" class="btn servicio-btn mt-3">Más información</a>
                </div>
            </div>
        </div>


    </div>
</div>

@code {

}
