@inherits LayoutComponentBase

<PageTitle>COMPUSERVER</PageTitle>

<div class="main-layout d-flex flex-column min-vh-100">
    <NavMenu />
    
    <div class="main-content flex-fill">
        @Body
    </div>

    <Footer/>
</div>
